body {
    font-family: "Arial", sans-serif;
    margin: 40px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 100%;
    max-width: 950px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
}

p {
    margin-bottom: 16px;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
}

.label {
    font-weight: bold;
    color: #333333;
    margin-right: 8px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links {
    margin-bottom: 20px;
}

.links a {
    margin-right: 15px;
}

.comment-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.comment-form input, .comment-form button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.comment-form input[id="author"] {
    width: 100px
}

.comment-form input[id="content"] {
    width: 650px;
}

.comment-form input[id="password"] {
    width: 100px;
}

.comment-form button {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    border: none;
}

.comment-form button:hover {
    background-color: #4cae4c;
}

.comments {
    margin-top: 20px;
}

.comments h2 {
    font-size: 22px;
    color: #333333;
    margin-bottom: 15px;
}

.comment {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin-bottom: 10px;
}

.comment-date {
    font-size: 12px;
    color: #999999;
}
