<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Form</title>
  <link rel="stylesheet" th:href="@{/css/writeform.css}">
</head>
<body>
<div class="form-container">
  <h1>Delete Board</h1>
  <form th:action="@{/delete}" method="post" th:object="${board}">
    <input type="hidden" th:field="*{id}"/>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required/>
    <button type="submit">Delete</button>
  </form>
  <div th:if="${error}">
    <p style="color: red;">비밀번호가 틀렸습니다.</p>
  </div>
</div>
</body>
</html>